[local]
API_BASE_URL=http://10.0.2.2
API_BASE_PORT=3000
API_BASE_VERSION=api/v1
GOOGLE_MAPS_URL=
GOOGLE_API_KEY=
DEEPLINK_KEY=
DEEPLINK_HOST=
DEEPLINK_TEMPLATES=
SENTRY_DSN=
FACEBOOK_APP_ID=
FACEBOOK_PROTOCOL_SCHEME=
FACEBOOK_CLIENT_TOKEN=
RSA_PUBLIC_KEY=
GOOGLE_CLIENT_ID=
IOS_APP_ID=
X_USERNAME=
X_PASSWORD=
SONG_DB_FILE_ID=
PUSHER_BEAMS_INSTANCE_ID=

[staging]
API_BASE_URL=http://staging-api-host
API_BASE_PORT=3000
API_BASE_VERSION=api/v1
GOOGLE_MAPS_URL=
GOOGLE_API_KEY=
DEEPLINK_KEY=
DEEPLINK_HOST=
DEEPLINK_TEMPLATES=
SENTRY_DSN=
FACEBOOK_APP_ID=
FACEBOOK_PROTOCOL_SCHEME=
FACEBOOK_CLIENT_TOKEN=
RSA_PUBLIC_KEY=
GOOGLE_CLIENT_ID=
IOS_APP_ID=
X_USERNAME=
X_PASSWORD=
SONG_DB_FILE_ID=
PUSHER_BEAMS_INSTANCE_ID=

[production]
API_BASE_URL=https://www.palakat.com
API_BASE_PORT=
API_BASE_VERSION=api/v1
GOOGLE_MAPS_URL=
GOOGLE_API_KEY=
DEEPLINK_KEY=
DEEPLINK_HOST=
DEEPLINK_TEMPLATES=
SENTRY_DSN=
FACEBOOK_APP_ID=
FACEBOOK_PROTOCOL_SCHEME=
FACEBOOK_CLIENT_TOKEN=
RSA_PUBLIC_KEY=
GOOGLE_CLIENT_ID=
IOS_APP_ID=
X_USERNAME=
X_PASSWORD=
SONG_DB_FILE_ID=
PUSHER_BEAMS_INSTANCE_ID=
