[local]
API_BASE_URL=http://localhost
API_BASE_PORT=3000
API_BASE_VERSION=api/v1
PUSHER_BEAMS_INSTANCE_ID=
VERCEL_OIDC_TOKEN=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

[staging]
API_BASE_URL=http://staging-api-host
API_BASE_PORT=3000
API_BASE_VERSION=api/v1
PUSHER_BEAMS_INSTANCE_ID=
VERCEL_OIDC_TOKEN=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

[production]
API_BASE_URL=https://www.palakat.com
API_BASE_PORT=
API_BASE_VERSION=api/v1
PUSHER_BEAMS_INSTANCE_ID=
VERCEL_OIDC_TOKEN=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
