[local]
API_BASE_URL=http://127.0.0.1
API_BASE_PORT=3000
API_BASE_VERSION=api/v1
APP_CLIENT_USERNAME=
APP_CLIENT_PASSWORD=
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

[staging]
API_BASE_URL=http://staging-api-host
API_BASE_PORT=3000
API_BASE_VERSION=api/v1
APP_CLIENT_USERNAME=
APP_CLIENT_PASSWORD=
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

[production]
API_BASE_URL=https://www.palakat.com
API_BASE_PORT=
API_BASE_VERSION=api/v1
APP_CLIENT_USERNAME=
APP_CLIENT_PASSWORD=
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
