[local]
NODE_ENV=
PUBLIC_BASE_URL=http://localhost:3000
PORT=3000
POSTGRES_HOST=localhost
POSTGRES_DB=database
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://root:password@localhost:5432/database
DATABASE_POOL_MAX=3
FORCE_SEEDING=false
SONG_DB_FILE_ID=
APP_CLIENT_USERNAME=
APP_CLIENT_PASSWORD=
JWT_SECRET=
PUSHER_BEAMS_INSTANCE_ID=
PUSHER_BEAMS_SECRET_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
SUPPABASE_DB_PASSWORD=
HEALTH_PAGE_SECRET=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=

[staging]
NODE_ENV=
PUBLIC_BASE_URL=http://staging-api-host:3000
PORT=3000
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=
DATABASE_POOL_MAX=3
FORCE_SEEDING=false
SONG_DB_FILE_ID=
APP_CLIENT_USERNAME=
APP_CLIENT_PASSWORD=
JWT_SECRET=
PUSHER_BEAMS_INSTANCE_ID=
PUSHER_BEAMS_SECRET_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
SUPPABASE_DB_PASSWORD=
HEALTH_PAGE_SECRET=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=

[production]
NODE_ENV=production
PUBLIC_BASE_URL=https://api.example.com
PORT=3000
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
DATABASE_URL=
DATABASE_POOL_MAX=3
FORCE_SEEDING=false
SONG_DB_FILE_ID=
APP_CLIENT_USERNAME=
APP_CLIENT_PASSWORD=
JWT_SECRET=
PUSHER_BEAMS_INSTANCE_ID=
PUSHER_BEAMS_SECRET_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=
SUPPABASE_DB_PASSWORD=
HEALTH_PAGE_SECRET=
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
